<footer>           
                <nav class="row">
                    <div class="logo col-xs-6">
                        <a href="http://www.weareimd.be" title="Interactive Multimedia Design Mechelen">
                            <img src="{{ paths.theme }}/assets/images/logo.svg" />
                        </a>
                        </div>


                       <div class="tmore col-xs-6">
                        <a href="http://www.thomasmore.be/interactive-multimedia-design-imd" title="Thomas More Hogeschool Mechelen">
                            <img src="{{ paths.theme }}/assets/images/tmoreLogo.svg" />
                        </a>
                        </div> 
                </nav>
</footer>