<!-- Begin MailChimp Signup Form -->
  <div class="mailchimp">
  <form role="form" class="form-inline" action="http://thomasmore.us7.list-manage1.com/subscribe/post?u=2481da086e218c05ba1b6092a&amp;id=a42d4c81dc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" >
       <div class="form-group">
          <input placeholder="you@gymwithus.be" class="form-control input-lg" autofocus type="email" required= class="input-xlarge" value="" name="EMAIL" id="mce-EMAIL">
       </div>
       <div class="form-group">
          <input class="btn btn-primary btn-lg animated pulse" type="submit" value="Mis geen enkel event" name="subscribe">
       </div>
  </form>
  </div>
  <!--End mc_embed_signup--> 