<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="{{ paths.theme }}/assets/images/logo_gym.svg" alt="" class="gymLogo"></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li class=""><a href="/">Home</a></li>
      <li><a href="/page/over-ons">Over de gym</a></li>
      <li><a href="/page/manifesto">Manifesto</a></li>
      <li><a href="/events">Events</a></li>
    </ul>


  </div><!-- /.navbar-collapse -->
</nav>
