.homepage-subTitle {
    position: relative;
    display:block;
    font-family: 'Bree Serif', serif;
    font-size: 2.8em;
    color: $dimGrey;
    text-align: center;
    margin-top: 40px;
    &::after {
        content:'';
        display: block;
        width: 300px;
        height: 30px;
        margin: 10px auto 0;
        background-image: url(../images/banner.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}
.subtitleContainer {
    width: 100%;
    display: inline;
    position: relative;
    text-align: center;
}
.homepage-latest {
    position: relative;
    width: 80%;
    margin: 40px auto;
    padding-top: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.homepage-latestBorder {
    z-index: -1;
    position: absolute;
    top: 0%;
    left: 10%;
    display: block;
    width: 80%;
    height: 90%;
    border: 4px solid $lightGrey;
}
@media only screen and (max-device-width: $bp-smartphone) {
    .homepage-subTitle {
        font-size: 2em;
    }
    .homepage-latest {
        flex-wrap: wrap;
    }
}
