{% include '_header.twig' %}
<body class="over-ons">


    {% include '_nav.twig' %}
    <div class="heroImg" style="background-image:url({{ record.image|image }})">
        <div class="pattern"></div>
        <div class="homeHeroWrapper" >
            <div class="fixedWidth clearfix">
                <div class="homeHerotext homeHerotext--center">
                    <h1>{{ page.title }}</h1>


                </div>
            </div>
        </div>
    </div>

    <div class="manifestoIntro">
        {{page.teaser}}
    </div>
    <div class="manifesto">
        <span class="manifesto-line manifesto-line--left"></span>
        <span class="manifesto-line manifesto-line--right"></span>
        {{page.body}}
    </div>

    {% include '_footercontent.twig' %}

    {% include '_footer.twig' %}

</body>
</html>
