.page
{
	background-color: white;

	h1
	{
		margin-bottom: .5em;
		padding-top: .5em;
		margin-top: 0;
		border-top: 1px solid #c6c6c6;
	}

	.contentBody
	{
		padding-bottom: 2em;
	}
}

ul.manifesto
{
	li
	{
		
	}
}

.img-responsive
{
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}