.eventListItem {
    width: 100%;
    margin-bottom: 3em;
    position: relative;
    p {
        font-family: 'Arimo', sans-serif;
        color: $darkGrey;
        padding: .4em 0;
        line-height: 1.25em;
    }
    a {
        text-decoration: none;
        color: $green;
        &:hover {
            text-decoration: underline;
            font-weight: bold;
        }
    }
    &-imageLink {
        display: inline-block;
        width: 67%;
        box-sizing: border-box;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    &-image {
        display: inline-block;
        width: 100%;
        height: auto;
    }
    &-description {
        background-color: $lightGrey;
        color: $darkGrey;
        padding: 1em;
        box-sizing: border-box;
        width: 67%;
        display: inline-block;
    }
    &-title {
        font-family: "Bree Serif", serif;
        font-size: 1.2em;
        line-height: 1.5em;
        color: $darkGrey;
        display: block;
    }
    &-practical {
        width: 30%;
        display: inline-block;
        background-color: $lightGrey;
        padding: 1em;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        right: 0;
    }
}
.events-list--present{
    .eventListItem-description {
        margin-top: .5em;
    }
}
.events-list--past{
    width: 60%;
    max-width: 800px;
    margin: 0 auto 3em;
    .eventListItem {
        width: 100%;
        &-imageLink {
            width: 100%;
        }
        &-description {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 1.5em 1em .75em;
            background-color: none;
            background: linear-gradient(0deg, lighten(black, 35%), transparent);
        }
        &-title {
            color: white;
            z-index: 3;
        }
    }
}
@media only screen and (max-device-width: $bp-smartphone){
    .eventListItem-title {
        font-size: .75em;
    }
    .eventListItem {
        &-practical{
            display: none;
        }
        &-description {
            width: 100%;
            p {
                display: none;
            }
        }
        &-imageLink {
            width: 100%;
        }
    }
    .events-list--past {
        width: 85%;
        .eventListItem-image {
            display: flex;
        }
        .eventListItem-description {
            display: none;
        }
    }
}
