footer
{
	padding-top: 2em;
	padding-bottom: 2em;

	.logo
	{
		text-align: right;
		img
		{
			width: 170px;
			max-width: 100%;
		}
	}

	.tmore
	{
		img
		{
			max-width: 100%;
			height: 50px;
		}
	}

}